<!DOCTYPE html>
<html th:replace="~{fragments/admin-layout :: layout (~{::#content})}">
  <body>
    <div id="content" th:remove="tag">
      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
          <div class="col-xxl">
            <div class="card mb-4">
              <div
                class="card-header d-flex align-items-center justify-content-between"
              >
                <h5 class="mb-0" th:text="${seos.title}"></h5>
              </div>
              <div class="card-body">
                <form
                  method="post"
                  th:object="${item}"
                  th:with="action=${item['new']} ? @{/admin/seo} : @{/admin/seo/{id}/edit(id = ${id})}"
                  th:action="${action}"
                >
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="path"
                      >Path</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        th:field="*{path}"
                        class="form-control"
                        placeholder="Path"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="title"
                      >Title</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        th:field="*{title}"
                        class="form-control"
                        placeholder="Title"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="keywords"
                      >Keywords</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        placeholder="Keywords"
                        aria-label="Keywords"
                        aria-describedby="basic-icon-default-message2"
                        th:field="*{keywords}"
                      ></textarea>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="description"
                      >Description</label
                    >
                    <div class="col-sm-10">
                      <textarea
                        class="form-control"
                        placeholder="Description"
                        aria-label="Description"
                        aria-describedby="basic-icon-default-message2"
                        th:field="*{description}"
                      ></textarea>
                    </div>
                  </div>

                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button
                        th:with="text=${item['new']} ? 'Compose' : 'Update'"
                        class="btn btn-primary"
                        type="submit"
                        th:text="${text}"
                      >
                        Compose
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
