<ul
  id="navbar"
  class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3"
  th:fragment="top-menu"
>
  <li class="nav-item" th:each="topMenuItem: ${topMenu}">
    <a
      th:class="'nav-link me-4' + (${topMenuItem.active} ? ' active' : '')"
      th:href="${topMenuItem.link}"
      th:text="${topMenuItem.label}"
    ></a>
  </li>
  <li class="nav-item">
    <div class="user-items ps-5">
      <ul class="d-flex justify-content-end list-unstyled">
        <li class="pe-3">
          <a th:href="@{/admin}">
            <svg class="user">
              <use xlink:href="#user"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<ul
  class="menu-list list-unstyled text-uppercase"
  th:fragment="bottom-quick-menu"
>
  <!-- <li class="menu-item pb-2">
    <a href="#">Home</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">About</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">Shop</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">Blogs</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">Contact</a>
  </li> -->
</ul>

<ul class="menu-list list-unstyled" th:fragment="bottom-help-menu">
  <li class="menu-item pb-2">
    <a href="#">Track Your Order</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">Returns Policies</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">Shipping + Delivery</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">Contact Us</a>
  </li>
  <li class="menu-item pb-2">
    <a href="#">Faqs</a>
  </li>
</ul>
