<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:fragment="layout (pagebody)"
  lang="en"
  class="light-style customizer-hide"
  dir="ltr"
  data-theme="theme-default"
  data-assets-path="/assets/"
  data-template="vertical-menu-template-free"
>
  <head>
    <title th:text="${seos.title}"></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="author" content="" th:content="#{mainpage.author}" />
    <meta name="keywords" content="" th:content="${seos.keywords}" />
    <meta name="description" content="" th:content="${seos.description}" />

    <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}" />

    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- script
    ================================================== -->
    <script th:src="@{/js/modernizr.js}"></script>
  </head>

  <body
    data-bs-spy="scroll"
    data-bs-target="#navbar"
    data-bs-root-margin="0px 0px -40%"
    data-bs-smooth-scroll="true"
    tabindex="0"
  >
    <div th:replace="~{components/icons::#icons-hidden}" th:remove="tag"></div>

    <div th:replace="~{fragments/mainpage-header::header}"></div>

    <div th:replace="${pagebody}"></div>

    <div th:replace="~{fragments/mainpage-footer:: #footer}"></div>
    <div th:replace="~{fragments/mainpage-footer:: #footer-bottom}"></div>

    <div th:replace="~{fragments/mainpage-header::scripts}"></div>
  </body>
</html>
