<div class="copyright" th:fragment="copyright">
  <p>
    <span th:text="#{credentials.design}" th:remove="tag">
      © Copyright 2023 MiniStore. Design by
    </span>
    <a href="https://templatesjungle.com/" target="_blank" rel="nofollow"
      >TemplatesJungle</a
    ><br />
    <span th:text="#{credentials.distribution}" th:remove="tag">
      Distribution by
    </span>
    <a href="https://themewagon.com" target="_blank" rel="nofollow"
      >ThemeWagon</a
    ><br />
    <span th:text="#{credentials.developing}" th:remove="tag"
      >Developing by</span
    >
    <a
      href="https://www.linkedin.com/in/serhii-protsenko-2190b372/"
      target="_blank"
      th:text="#{mainpage.author}"
      >Serhii Protsenko</a
    >
  </p>
</div>

<div class="footer-menu contact-item" th:fragment="contacts">
  <h5 class="widget-title text-uppercase pb-2" th:text="#{credentials.contact}">
    Contact Us
  </h5>
  <p th:utext="#{credentials.email(${credentials.getEmailLink()})}">
    Do you have any queries or suggestions?
  </p>
  <p th:utext="#{credentials.phone(${credentials.getPhoneLink()})}">
    If you need support? Just give us a call.
  </p>
</div>
