<!DOCTYPE html>
<html th:replace="~{fragments/admin-layout :: layout (~{::#content})}">
  <body>
    <div id="content" th:remove="tag">
      <div class="container-xxl flex-grow-1 container-p-y">
        <!-- <h4 class="fw-bold py-3 mb-4">
          <span class="text-muted fw-light" th:text="${seos.title}"></span>
        </h4> -->

        <div class="card">
          <h5 class="card-header" th:text="${seos.title}"></h5>
          <div th:replace="~{components/table-services}" th:remove="tag"></div>
          <!-- <hr class="my-5" /> -->
        </div>
        <!-- <hr class="my-5" /> -->
      </div>
    </div>
  </body>
</html>
