<!DOCTYPE html>
<html th:replace="~{fragments/admin-layout :: layout (~{::#content})}">
  <body>
    <div id="content" th:remove="tag">
      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
          <div class="col-xxl">
            <div class="card mb-4">
              <div
                class="card-header d-flex align-items-center justify-content-between"
              >
                <h5 class="mb-0" th:text="${seos.title}"></h5>
              </div>
              <div class="card-body">
                <form
                  method="post"
                  enctype="multipart/form-data"
                  th:object="${item}"
                  th:with="action=${item['new']} ? @{/admin/product} : @{/admin/product/{id}/edit(id = ${id})}"
                  th:action="${action}"
                >
                  <div class="row mb-3">
                    <label
                      class="col-sm-2 col-form-label"
                      th:for="${#ids.next('active')}"
                      >Active</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="checkbox"
                        th:field="*{active}"
                        class="form-check-input"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="sort"
                      >Sorting</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="number"
                        th:field="*{sort}"
                        class="form-control"
                        placeholder="Sorting"
                      />
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="productName"
                      >Name</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        th:field="*{productName}"
                        class="form-control"
                        placeholder="Name"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="pictureFile"
                      >Picture</label
                    >
                    <div class="col-sm-10">
                      <img
                        th:if="${item.picture}"
                        class="img-thumbnail"
                        th:src="@{'/content/' + ${item.picture}}"
                        th:alt="${item.picture}"
                        style="max-width: 200px; max-height: 200px"
                      />
                      <input
                        th:if="${item.picture}"
                        type="hidden"
                        name="picture"
                        th:value="${item.picture}"
                      />
                      <input
                        type="file"
                        accept="image/*"
                        id="pictureFile"
                        name="pictureFile"
                        class="form-control"
                        placeholder="Picture"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label class="col-sm-2 col-form-label" for="productPrice"
                      >Price</label
                    >
                    <div class="col-sm-10">
                      <input
                        type="text"
                        th:field="*{productPrice}"
                        class="form-control"
                        placeholder="Price"
                      />
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="productTypeCode" class="col-sm-2 col-form-label"
                      >Product type</label
                    >
                    <div class="col-sm-10">
                      <select
                        class="form-select"
                        aria-label="Select Icon class"
                        th:field="*{productTypeCode}"
                      >
                        <option
                          th:each="productType : ${productTypes}"
                          th:value="${productType.code}"
                          th:text="${productType.name}"
                        ></option>
                      </select>
                    </div>
                  </div>

                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button
                        th:with="text=${item['new']} ? 'Compose' : 'Update'"
                        class="btn btn-primary"
                        type="submit"
                        th:text="${text}"
                      >
                        Compose
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
