<!DOCTYPE html>
<html th:replace="~{layouts/panel :: layout (~{::#content})}">
  <body>
    <div id="content" th:remove="tag">
      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
          <div class="col-xxl">
            <div class="card mb-4">
              <div
                class="card-header d-flex align-items-center justify-content-between"
              >
                <h5 class="mb-0" th:text="${title}"></h5>
              </div>

              <div class="card-body">
                <form
                  method="post"
                  th:object="${item}"
                  th:action="${formAction}"
                >
                  <div class="row mb-3" th:each="field: ${formFields}">
                    <label
                      class="col-sm-2 col-form-label"
                      th:for="${field.name}"
                      th:text="${field.label}"
                    ></label>
                    <div class="col-sm-10" th:if="${field.type == 'text'}">
                      <input
                        type="text"
                        th:field="*{__${field.name}__}"
                        class="form-control"
                        th:errorclass="is-invalid"
                        th:placeholder="${field.label}"
                        th:required="${field.required == true}? 'required'"
                      />
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('__${field.name}__')}"
                        th:errors="*{__${field.name}__}"
                      ></div>
                    </div>

                    <div class="col-sm-10" th:if="${field.type == 'textarea'}">
                      <textarea
                        th:field="*{__${field.name}__}"
                        class="form-control"
                        th:errorclass="is-invalid"
                        th:placeholder="${field.label}"
                        th:aria-label="${field.label}"
                        th:required="${field.required == true}? 'required'"
                      ></textarea>
                      <div
                        class="invalid-feedback"
                        th:if="${#fields.hasErrors('__${field.name}__')}"
                        th:errors="*{__${field.name}__}"
                      ></div>
                    </div>
                  </div>
                  <div class="row justify-content-end">
                    <div class="col-sm-10">
                      <button
                        th:with="btnText=${formType == 'create'} ? '__#{page.panel.edit.button.compose}__' : '__#{page.panel.edit.button.update}__'"
                        class="btn btn-primary"
                        type="submit"
                        th:text="${btnText}"
                      ></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
