<!DOCTYPE html>
<html th:replace="~{layouts/panel :: layout (~{::#content})}">
  <body>
    <div id="content" th:remove="tag">
      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="card">
          <h5 class="card-header" th:text="${title}"></h5>

          <div class="card-body" th:if="${message != null}">
            <div
              th:text="${message}"
              class="alert alert-secondary"
              role="alert"
            ></div>
          </div>

          <table class="table" th:if="${list}">
            <caption class="ms-4" th:if="${list.totalPages > 1}">
              <nav aria-label="#{pagination.label.area}">
                <ul class="pagination">
                  <li class="page-item first" th:if="${list.currentPage > 1}">
                    <a
                      class="page-link"
                      th:href="@{{link}?page=1(link = ${mappingLink})}"
                      ><i class="tf-icon bx bx-chevrons-left"></i
                    ></a>
                  </li>
                  <li class="page-item prev" th:if="${list.currentPage > 1}">
                    <a
                      class="page-link"
                      th:href="@{{link}?page={page}(link = ${mappingLink}, page = ${list.currentPage - 1})}"
                      ><i class="tf-icon bx bx-chevron-left"></i
                    ></a>
                  </li>

                  <li
                    th:class="'page-item' + (${list.currentPage == i} ? ' active' : '')"
                    th:each="i: ${#numbers.sequence(1, list.totalPages)}"
                  >
                    <a
                      th:if="${list.currentPage != i}"
                      class="page-link"
                      th:href="@{{link}?page={page}(link = ${mappingLink}, page = ${i})}"
                      >[[${i}]]</a
                    >
                    <a
                      th:unless="${list.currentPage != i}"
                      class="page-link"
                      href="javascript:void(0);"
                      >[[${i}]]</a
                    >
                  </li>

                  <li
                    class="page-item next"
                    th:if="${list.currentPage < list.totalPages}"
                  >
                    <a
                      class="page-link"
                      th:href="@{{link}?page={page}(link = ${mappingLink}, page = ${list.currentPage + 1})}"
                      ><i class="tf-icon bx bx-chevron-right"></i
                    ></a>
                  </li>
                  <li
                    class="page-item last"
                    th:if="${list.currentPage < list.totalPages}"
                  >
                    <a
                      class="page-link"
                      th:href="@{{link}?page={page}(link = ${mappingLink}, page = ${list.totalPages})}"
                      ><i class="tf-icon bx bx-chevrons-right"></i
                    ></a>
                  </li>
                </ul>
              </nav>
              [[#{pagination.label.total(${list.pageSize},
              ${list.totalElements})}]]
            </caption>
            <thead>
              <tr>
                <th
                  th:each="header : ${headers}"
                  th:text="#{'page.panel.list.headers.' + ${header}}"
                ></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="row : ${list.list}">
                <td th:each="header : ${headers}" th:with="data=${row[header]}">
                  <span
                    th:if="${header == 'active'}"
                    th:class="${data}? 'badge me-1 bg-label-primary' : 'badge me-1 bg-label-secondary'"
                    th:text="${data}? #{status.active} : #{status.deactived}"
                  ></span>

                  <div class="icon-box" th:if="${header == 'iconClass'}">
                    <div class="icon-box-icon">
                      <svg th:class="${data.getIco()}">
                        <use th:xlink:href="'#' + ${data.getIco()}"></use>
                      </svg>
                    </div>
                  </div>

                  <div
                    th:if="${header == 'productType'}"
                    th:text="#{'enum.product.' + ${data}}"
                    th:remove="tag"
                  ></div>

                  <div th:if="${header == 'picture'}" th:remove="tag">
                    <img
                      th:if="${not data.isEmpty()}"
                      class="img-thumbnail"
                      th:src="@{'/content/' + ${data}}"
                      style="max-width: 100px; max-height: 100px"
                    />
                  </div>

                  <div th:if="${header == 'savedName'}" th:remove="tag">
                    <div
                      th:if="${row['fileType'] == 'image/jpeg'}"
                      th:remove="tag"
                    >
                      <img
                        th:if="${not data.isEmpty()}"
                        class="img-thumbnail"
                        th:src="@{'/content/' + ${data}}"
                        th:alt="${data}"
                        style="max-width: 100px; max-height: 100px"
                      />
                    </div>
                    <div
                      th:if="${row['fileType'] != 'image/jpeg'}"
                      th:text="${data}"
                      th:remove="tag"
                    ></div>
                  </div>

                  <div
                    th:if="${header != 'iconClass' && header != 'active' && header != 'productType'
                    && header != 'picture' && header != 'actions' && header != 'savedName'}"
                    th:remove="tag"
                    th:text="${data}"
                  ></div>
                  <div th:if="${header == 'actions'}" th:remove="tag">
                    <div class="dropdown">
                      <button
                        type="button"
                        class="btn p-0 dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                      >
                        <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <div class="dropdown-menu">
                        <div th:each="action : ${data.keySet}" th:remove="tag">
                          <a
                            class="dropdown-item"
                            th:if="${action == 'edit'}"
                            th:href="@{${data.get(action)}}"
                            ><i class="bx bx-edit-alt me-1"></i>
                            [[#{'actions.' + ${action}}]]
                          </a>
                          <a
                            class="dropdown-item"
                            th:if="${action == 'delete'}"
                            href="javascript:void(0);"
                            th:onclick="'sendDeleteRequest(\'' + @{{link}(link = ${data.get(action)})} + '\')'"
                          >
                            <i class="bx bx-trash me-1"></i>
                            [[#{'actions.' + ${action}}]]
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <script th:inline="javascript">
        function sendDeleteRequest(path) {
          var xhr = new XMLHttpRequest();
          xhr.open("DELETE", path);
          xhr.setRequestHeader("[(${_csrf.headerName})]", "[(${_csrf.token})]");
          xhr.send();
          xhr.onload = function () {
            if (this.status == 204) {
              location.reload(true);
            }
          };
        }
      </script>
    </div>
  </body>
</html>
